login {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 17px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 44px;
}

.login-content {
    margin-top: 59px;
    padding: 0 28px;
}

.title-text {
    width: 144px;
    height: 32px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 24px;
    color: #262424;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.email {
    width: 315px;
    height: 46px;
    margin-top: 39px;
    margin-bottom: 3px;
    border: none;
    border-bottom: 1px solid #F0F0F0;
}

input:focus {
    outline: none;
    border: none;
}

::-webkit-input-placeholder {
    color: #CCC8C8;
    font-size: 15px;
    font-weight: Regular;
}

.captcha {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
}

.yzm {
    width: 50%;
    height: 46px;
    border: none;
    border-bottom: 1px solid #F0F0F0;
}

.getYzm {
    width: 30%;
    height: 46px;
    border: none;
    margin-left: auto;
    border-bottom: 1px solid #F0F0F0;
    padding: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.getYzm span {
    border: none;
    height: 16px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 12px;
    color: #CCC8C8;
    line-height: 16px;
    font-style: normal;
    text-transform: none;
}

.submit {
    font-family: PingFang SC, PingFang SC;
    font-weight: 600;
    font-size: 15px;
    color: #3A3B3C;
    line-height: 20px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.newUser {
    width: 100%;
    margin-top: 20px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newUser span {
    height: 19px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #666262;
    line-height: 19px;
    text-align: right;
    font-style: normal;
    text-transform: none;
    margin-left: 10px;
}

.other {
    margin-top: 144px;
    width: 100%;
    text-align: center;
}

.other span {
    width: 78px;
    height: 17px;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 13px;
    color: #999393;
    line-height: 17px;
    text-align: center;
    font-style: normal;
    text-transform: none;
}

.list {
    margin-top: 21px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.list div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F0F0F0;
}